# HTTPS
https://{env.HOST} {
    tls internal

    reverse_proxy backend:{env.PORT}

    header {
        # Security headers
        Strict-Transport-Security "max-age=31536000";
        X-Content-Type-Options "nosniff";
        X-Frame-Options "DENY";
    }
}

# redirect when http
http://{env.HOST} {
    redir https://{host}{uri} permanent
}
