# HTTP
:443 {
    tls /etc/certs/server.crt /etc/certs/server.key

    reverse_proxy backend:{env.PORT}

    header {
        # Security headers
        Strict-Transport-Security "max-age=31536000";
        X-Content-Type-Options "nosniff";
        X-Frame-Options "DENY";
    }
}

